body {
    font-family: "Microsoft Yahei"!important;
    height: auto;
    position:relative;
    min-width: 1000px;
}
.header {
    position: -ms-device-fixed;
    z-index: 20;
    background: white;
}
.showcase {
    height: auto;
}
.section {
    position: relative;
    height:900px;
    float:left;
}
.header-logo {
    width: 400px;
}
.main-section {
    background: lightseagreen;
    color: white!important;
}

.m-s-c-w button{
    display: none;
}
.m-s-c-w .slg {
    color: white;
}

.slidesjs-navigation {
    display: none!important;
}

/* */

#level {
    display: none;
}

.member-hover-avatar {
    display: none;
}

ul.team-list .team-member {
    float: left;
}